zed-ros-wrapper/
dataset_metapackage/

devel/
logs/
build/
bin/
lib/


.vscode/

**/mask_rcnn/build/*
**/mask_rcnn/dist/*
**/mask_rcnn/assets
**/mask_rcnn/*.egg-info
**/mask_rcnn/data/*

/VDO_SLAM/build/
/VDO_SLAM/vdo_slam_g2o/build/

*.bag

dumb_image_processor/
orb_slam_2_ros/
zed-ros-examples/
