
<launch>
	# Parameters
	<arg name="config_file" default="python_service_starter_config.yaml"/>

	<node pkg="python_service_starter" type="python_service_starter" name="python_service_starter" output="screen">
	<rosparam command="load" file="$(find python_service_starter)/config/$(arg config_file)"/>
	</node>
</launch>